<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learning Vue</title>
    <script src="https://unpkg.com/vue@3.0.2"></script>
</head>
<body>
    <h1>TEST</h1>

    <div id="app">
        <div v-if="showBooks">
            <p>{{title}} - {{author}} - {{page}} </p>
        </div>
        
        <button v-on:click="page++">Increase page</button>
        <button v-on:click="page--">Decrease page</button>
        <div @click="changeTitle('New Title from html')">change title</div>

        <button @click="toogleShowTheBooks">
            <span v-if="showBooks">Hide Books</span>
            <span v-else>Show Books</span>
        </button>

        <div v-show="showBooks">currently showing books</div>


    </div>
    <script src="app.js"></script>
</body>
</html>